* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  animation: none !important;
  transition: none !important;
}

nav {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: #3c3a39;
  height: 70px;
  width: 100%;
  padding-right: 24px;
  color: #fff;
  justify-content: space-between;
  transition-property: font-size;
  transition-duration: 4s;
  transition-delay: 2s;
}

ul {
  list-style: none;
}

.js-section,
.js-section2,
.js-section3,
.listons-container,
.languages,
.icon,
.nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 20px 0 20px;
}

li {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  width: fit-content;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  outline: none;
  border: none;
}

.main-section {
  background-color: #1c1a19;
  height: 670px;
  background-image: url(image/sidepic.png);
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 9rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.headline,
h1 {
  color: #ff6b00;
  font-family: "Crete Round", serif;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
}

.headline,
h4 {
  color: #fff5e1;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  font-style: normal;
}

.headline,
h6 {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.online-icons {
  display: inline-block;
  justify-content: flex-start;
  list-style-type: none;
  margin-top: 5%;
}

.first-box {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-around;
}

.projectimg {
  margin-top: 2rem;
  width: 60%;
}

.work-h1 {
  margin-left: 1rem;
  color: #1c1a19;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 3rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line1 {
  background-color: #212121;
  border: 1px solid #212121;
}

.work-h4 {
  color: #091e42;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
}

.work-p {
  color: #091e42;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
}

.languages {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.bttn {
  box-sizing: border-box;
  border: 1px solid #8993a4;
  color: #091e42;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 50;
  line-height: 20px;
  padding: 0.6rem;
  margin-left: 0.4rem;
}

.project-btn {
  cursor: pointer;
  background-color: #ff6b00;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 2rem;
  border: none;
  padding: 0.3rem 0.1rem;
  width: 8rem;
}

.project-btn:hover {
  font-style: normal;
  color: #ff6b00;
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
}

.professional-main {
  display: grid;
  row-gap: 40px;
  background-image: url(./image/stories.png);
  background-repeat: no-repeat;
  margin-left: 1rem;
  height: 400px;
  align-items: center;
  justify-content: center;
  background-position: center;
}

.professional-h1 {
  display: flex;
  justify-content: center;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 44px;
  color: #fff;
  margin-top: 5rem;
}

.professional-p {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.professional-btn:enabled {
  background: #f55800;
  color: #fff;
}

.professional-btn:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.listons {
  font-family: "Inter", sans-serif;
  padding: 0.5rem;
  color: #fff;
  box-sizing: border-box;
  border: 1px solid #8993a4;
  background: rgba(255, 255, 255, 0.24);
  margin-left: 0.6rem;
}

.listons-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-top: -1.5rem;
}

.liston-button {
  border: none;
  background: #ff6b00;
  width: 327px;
  height: 48px;
  margin-top: -1rem;
}

.liston-button:hover {
  color: #ff6b00;
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
}

.liston-button:enabled {
  background: #f55800;
  color: #fff;
}

.liston-button:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.about-me {
  background-color: #1c1a19;
  height: 2000px;
}

.aboutme-c {
  margin-top: 6rem;
  background-image: url(/image/sidepic2.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.line2 {
  border: 1px solid #fff;
  color: #fff;
  margin-top: 17rem;
}

.about-section-h1 {
  justify-content: center;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 88px;
  padding-top: 4rem;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}

.about-section-paragraph {
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  padding: 0 2rem;
}

.about-section-button {
  background-color: #ff6b00;
  color: #fff;
  border: none;
  margin-top: 1.5rem;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 17px;
  font-style: normal;
  line-height: 24px;
  margin-left: 2rem;
  padding: 1rem;
}

.about-section-button:hover {
  color: #ff6b00;
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
}

.about-section-button:enabled {
  background: #f55800;
  color: #fff;
}

.about-section-button:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.aboutme-container2 {
  background-color: #1c1a19;
  width: 375px;
  height: 900px;
  padding-top: 8rem;
}

.svg-language {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
}

#language {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  color: #fff;
}

.js-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  padding-top: 2rem;
}

.btnn {
  padding: 1rem 0;
  color: #fff;
}

.svg2-language {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
}

#framework {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  color: #fff;
}

.js-section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 43px;
  color: #fff;
  padding-top: 2rem;
}

.svg3-language {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
}

#skills-section {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  color: #fff;
}

.section3 {
  margin-bottom: 4rem;
}

.js-section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 43px;
  color: #fff;
  padding-top: 2rem;
}

.formtext {
  margin: 24px 0;
  order: 0;
  flex: none;
  flex-grow: 0;
  width: 375px;
  height: 216px;
  position: static;
}

.formtext p {
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin: 120px 24px 73px;
}

.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

.form-section {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input,
textarea {
  width: 250px;
  height: 18px;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  border: none;
  margin: 1rem;
  padding: 20px 0;
  font-weight: 200;
  font-family: "Inter", sans-serif;
}

input {
  border-bottom: 1px solid black;
}

textarea {
  background-color: #fbf8f7;
  height: 175px;
  padding: 12px;
}

.formbutton {
  background-color: #ff6b00;
  margin: auto;
  font-size: 16px;
  width: 131px;
  height: 48px;
  color: #f4f1f0;
  padding: 12px;
  border: none;
}

#form-error-message {
  background-color: #eee;
  color: #9c2a2a;
  padding: 0.4em 1em;
  border-radius: 0.2em;
  margin: 0;
  display: block;
  width: fit-content;
  margin-top: 0.4em;
  font-family: Poppins, sans-serif;
}

.form-section > .online-icons {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-section > .online-icons i {
  color: #505f79;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.icons2 {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

li a {
  padding: 0 10px;
}

.form-section > .line22 {
  justify-content: center;
  align-items: center;
  width: 150px;
}

.content-container {
  display: grid;
  grid-template-columns: 100%;
}

.hide {
  display: none;
}

.big-form-container {
  display: flex;
  flex-direction: column;
}

.icons3 {
  margin-top: 100px;
}

@media screen and (min-width: 800px) {
  .menuitems2 {
    display: none;
  }

  .nav :hover {
    transform: rotate(360deg);
    font-size: 25px;
    background-color: #ff6b00;
    transition: all 1s ease-out;
    cursor: pointer;
  }

  li {
    color: #fff;
    background-color: transparent;
    transition: all 1s ease-out;
  }

  li:hover,
  li:focus {
    color: rgb(48, 45, 45);
    background-color: rgba(158, 145, 145, 0.815);
    font-weight: 700;
    cursor: pointer;
  }

  button:hover,
  button:focus {
    color: rgb(110, 5, 5);
    background-color: #ff6b00;
    cursor: pointer;
  }

  .big-form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .section3,
  .js-section,
  .js-section2,
  .js-section3 {
    align-items: flex-start;
  }

  .hide {
    display: block;
  }

  .aaa {
    background-image: url(./image/prof-print.png);
    margin-bottom: 50px;
  }

  .bbb {
    background-image: url(./image/dash-data.png);
  }

  .ccc {
    background-image: url(./image/websitepro.png);
  }

  .content-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .bb1 {
    display: none;
  }

  .aa1 {
    width: 371px;
  }

  .menuitems {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .headline {
    display: flex;
    flex-direction: column;
    padding: 192px 0;
    position: absolute;
    width: 566px;
    left: 143px;
  }

  .main-section {
    background-color: #1c1a19;
    height: 670px;
    background-image: url(image/sidepic1.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 500px;
  }

  .icons {
    justify-content: space-between;
    list-style-type: none;
    padding: 0 20px 0 20px;
    position: absolute;
  }

  .online-icons {
    display: inline-block;
    justify-content: flex-start;
    list-style-type: none;
    margin-top: 22%;
    position: absolute;
  }

  .first-box {
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
  }

  .firstcard {
    margin-bottom: 20px;
  }

  .line111,
  .line22 {
    display: none;
  }

  .aboutme-c {
    margin-top: 6rem;
    background-image: url(./image/sidepic22.png);
    background-repeat: no-repeat;
    background-size: 450px;
    background-position: 100% 38%;
  }

  .langs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 50px 0 0 0;
  }

  .a1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 170px;
    padding-top: 0;
    width: 289.46px;
    margin-top: 0;
  }

  .a2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 200px;
  }

  .a3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 200px;
  }

  .about-me {
    height: 1250px;
  }

  .form-section {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 130px 0;
  }

  .formtext {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .iconzz {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  .main-form {
    display: flex;
  }

  .form1 {
    display: none;
  }

  .txtarea {
    height: 150px;
    width: 500px;
  }

  .icons3 {
    margin-top: 100px;
  }

  h4,
  h1 {
    animation-duration: 4s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  p {
    animation-duration: 3s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .formtext p {
    font-family: inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    text-align: left;
    padding-left: 30px;
    margin: 0;
    padding-right: 20px;
  }

  .pop-header .pop-close {
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.35rem;
  }
}

.pop-up {
  position: fixed;
  font-family: "Crete Round", sans-serif;
  color: #172b4d;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  display: none;
}

.pop-text {
  font-family: Inter, sans-serif;
}

.pop-body .pop-img {
  width: 659px;
  height: 448px;
  object-fit: cover;
}

.pop-body .pop-text .pop-text2 {
  padding-bottom: 1rem;
}

.pop-header {
  padding: 5px 20px;
  align-items: center;
}

.pop-header .pop-close {
  padding: 37px;
  box-sizing: border-box;
}

.pop-header .first-header {
  align-items: center;
}

.pop-up .pop-up-content {
  background-color: #fff;
  border-color: rgb(0, 132, 255);
  margin: 20px 30px;
  padding-bottom: 40px;
}

.btns .popbtn {
  background-color: #fff;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  padding: 8px;
  border: 1px solid black;
}

@media screen and (max-width: 800px) {
  .form2 {
    display: none;
  }

  .liston-button {
    border: none;
    background: #ff6b00;
    width: 327px;
    height: 48px;
    margin-top: -2rem;
  }

  .icons {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 20px 0 20px;
  }

  .aboutme-c {
    background-image: url(/image/sidepic2.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    margin-top: 1.5rem;
  }

  .formbutton {
    display: block;
  }

  .first-box {
    align-items: center;
  }

  .pop-up .pop-up-content {
    width: fit-content;
    margin: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  .pop-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  .pop-header .first-header {
    display: flex;
    justify-content: space-between;
  }

  .pop-header .pop-close {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.35rem;
  }

  .pop-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-shrink: 1;
    flex-grow: 1;
    gap: 1em;
    padding-top: 1em;
  }

  .pop-text2 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    min-height: 2em;
    overflow: auto;
  }

  .pop-text .pop-text2 {
    font-weight: normal;
    line-height: 1.5;
    color: #344563;
    padding: 20px;
  }

  .btns .popbtn {
    background-color: #fff;
    padding: 10px;
    height: 42px;
  }

  .pop-up .first-header {
    justify-content: space-between;
    display: flex;
  }

  .pop-header .title {
    font-weight: bold;
    font-size: 28px;
    padding-left: 20px;
  }

  .pop-header {
    padding: 0;
  }

  .pop-body .pop-img {
    /* max-width: 325px; */
    width: 100%;
    padding: 0 20px;
    height: 220px;
  }

  .pop-header .btns {
    margin: 10px 0;
    padding-left: 20px;
    padding-bottom: 15px;

    /* margin-top: 60px; */
  }

  .pop-body-btn {
    /* margin-top: 45px; */
    display: flex;
    gap: 20px;
    padding: 0 20px;
  }

  .svbtn {
    height: 48px;
  }

  .pop-body-btn .bbttnn {
    /* padding: 17px; */
    width: 100%;

    /* background-color: #FF6B00;; */
  }

  .pop-body-btn .spanbtn {
    background-color: #f55800;
    padding: 5px 10px;
    display: flex;
    gap: 0.8em;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-menu {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3c3a39;
  display: none;
  padding-top: 24px;
}

.iconx {
  margin-left: auto;
  display: block;
  padding: 14px;
  box-sizing: content-box;
  margin-right: 24px;
  color: #979493;
  transition: color 120ms ease-in-out;
  cursor: pointer;
}

.iconx:hover {
  color: white;
}

.mobile-menu.showing {
  display: block;
}

.mobile-menu ul li {
  padding: 2px 0;
  margin: 0 34px;
  border-right: 50px;
  font-size: 32px;
  line-height: 33px;
}

.nav-line {
  width: 327px;
  margin: 0 24px;
  color: #6f6c6b;
  font-weight: bolder;
}

@media screen and (min-width: 800px) {
  .pop-up {
    align-items: center;
    padding: 10%;
  }

  .pop-body {
    padding: 20px;
    display: flex;
    gap: 20px;
    align-items: stretch;
    justify-content: space-between;
  }

  .pop-header .pop-close {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.35rem;
  }

  .pop-text .pop-text2 {
    font-weight: 400;
    color: #344563;

    /* padding-left: 10px; */

    /* padding-bottom: 130px; */
  }

  .pop-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .first-header {
    justify-content: space-between;
    display: flex;
  }

  .pop-header .title {
    font-weight: bold;
    font-size: 2rem;
  }

  .pop-body .pop-img {
    max-width: 600px;

    /* margin: 10px 5px; */

    /* margin-bottom: 10px; */
  }

  .pop-body-btn {
    /* margin-top: 80px; */
    display: flex;
    gap: 1em;
  }

  .pop-body-btn .bbttnn {
    /* padding: 10px; */
    width: max-content;
  }

  textarea {
    background-color: #fbf8f7;
    height: 100px;
    padding: 1px;
    width: 400px;
  }

  .pop-body-btn .spanbtn {
    background-color: #f55800;
    padding: 15px;
    padding-left: 10px;
    display: block;
  }

  .mobile-menu {
    display: none;
  }

  .imggg{
    border-radius: 2rem;
  }
}
