@import url("https://fonts.googleapis.com/css2?family=Crete+Round");

body {
  background-color: #1c1a19;
  background-image: url(image/sidepic.png);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  height: 80vh;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 20px 0 20px;
}

li {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: #3c3a39;
  height: 65px;
  width: 390px;
  color: #fff;
  justify-content: center;
  margin-top: -0.5rem;
  margin-left: -1rem;
}

.name {
  justify-content: flex-start;
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.menu-logo {
  display: flex;
  justify-content: flex-end;
  float: right;
}

.main-body {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

.text {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  color: #ff6b00;
  letter-spacing: 0.37px;
  margin-top: 30%;
  margin-bottom: 0;
}

h4 {
  position: static;
  width: 327px;
  height: 27px;
  left: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  font-style: normal;
  color: #fff5e1;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  position: static;
  width: 327px;
  height: 123px;
  left: 24px;
  top: 120px;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  color: #fff;
}

.online-icons {
  display: inline-block;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 2rem;
  flex-direction: column;
  margin-top: 5px;
}

.online,
a {
  padding-left: 1rem;
  color: #fff;
}
